@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1649837008369') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianshu:before {
  content: "\e8a2";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-daohang:before {
  content: "\e65d";
}

