@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1650197211740') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-jianshu:before {
  content: "\e8a2";
}

.icon-Docker:before {
  content: "\e9f3";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-yuedu:before {
  content: "\e810";
}

.icon-yuedu1:before {
  content: "\e604";
}

.icon-daohang:before {
  content: "\e65d";
}

